.statistic {
  :global .ant-statistic-title {
    font-size: 12px;
    margin-bottom: 0;
  }
  :global .ant-statistic-content {
    font-size: 18px;
  }
}

.no-header-collapse {
  :global .ant-collapse-header {
    display: none!important;
  }
  :global .ant-collapse-content-box {
    padding: 0 !important;
  }
}